.Header{
    text-align: center;
    font-size: 34pt;
    justify-content: space-between;
}

.description{
    text-align: center;
    font-size: 20pt;
}

.info{
    text-align: center;
    font-size: 30pt;
}